body {
    padding: 0;
    margin: 0;
    color: rgba(29, 29, 29, 0.87);
    font-family: Montserrat, sans-serif;
    background: rgb(245, 245, 245);
    font-size: 1rem;
}

.header {
    width: 100%;
    gap: 1.5rem;
    flex-direction: column;
    display: flex;
    padding: 0px;
    margin: 0px;
    background-color: rgb(252, 252, 252);
    box-shadow: rgba(29, 29, 29, 0.09) 0px 3px 4px;
    box-sizing: border-box;
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-top {
    box-sizing: border-box;
    padding: 0.5rem 12px;
    width: 100%;
    max-width: 1440px;
    margin: 0px auto;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: 0px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.mr>div:first-child {
    width: 100%;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.mRight,
.mLeft {
    width: 100%;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.mRight ul {
    width: 100%;
    display: flex;
    padding: 0px;
    margin: 0px;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.mRight ul li,
.mBottom ul li {
    list-style: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.mRight ul li {
    width: 131px;
}

.mRight ul li a {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    padding: 4px 12px;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    border: none;
    color: rgb(29, 29, 29);
}

.mRight ul li a {
    color: black;
    font-weight: 300;
}

.mBottom ul li a {
    color: black;
    font-weight: 900;
    display: flex;
    text-decoration: none;
}

.mLeft {
    width: 100%;
    -webkit-box-pack: end;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.mRight,
.mBottom {
    display: flex;
}

.main-bottom {
    box-sizing: border-box;
    padding: 0px 12px;
    width: 100%;
    max-width: 1440px;
    margin: 0px auto;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    /* background-color: blue; */
}

.main-bottom a img {
    color: transparent;
    display: inline-block;
    /* height: 50px; */
    width: 85px;
}

.btnInscrevase {
    display: flex;
    gap: 16px;
}

.btnInscrevase a {
    color: rgb(252, 252, 252);
    background-color: rgb(10, 60, 125);
    border: 1px solid rgb(10, 60, 125);
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 1px 0px;
    font-family: Montserrat, sans-serif;
    display: inline-flex;
    width: auto;
    gap: 8px;
    box-sizing: border-box;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 700;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 24px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    text-decoration: none;
}

.btnInscrevase A span {
    /* padding-top: 12px;
    padding-bottom: 12px; */
    margin: 1px 0px;
}

#navbar {
    z-index: 111111;
    position: absolute;
}

#navBurguer {
    width: 52px;
    height: 52px;
    line-height: 50px;
    position: absolute;
    top: 9px;
    margin-left: 15px;
    display: none;
    cursor: pointer;
    line-height: 52px;
    /* background-color: #ccc; */
}

#navBurguer:hover {
    background-color: #eee7e7;
    border-radius: 50%;
}

#navbar span {
    font-size: 32px;
}

.burguer:before {
    content: '';
    z-index: 99;
    height: 4px;
    width: 33px;
    cursor: pointer;
    position: absolute;
    top: 12px;
    margin-left: 0px;
    background-color: #000945;
    border-radius: 5px;
}

.burguer {
    height: 50px;
    margin-left: 0;
    z-index: 99;
    height: 4px;
    width: 33px;
    cursor: pointer;
    position: absolute;
    top: 11px;
    margin-left: 9px;
    background-color: #000945;
    border-radius: 5px;
    /* display: block; */
}

.burguer::after {
    content: '';
    z-index: 99;
    height: 4px;
    width: 33px;
    cursor: pointer;
    position: absolute;
    top: 26px;
    margin-left: 0px;
    background-color: #000945;
    border-radius: 5px;
}

.imgResp a img {
    opacity: 0;
}

@media (max-width:985px) {
    #navbar {
        position: relative;
    }
    #navBurguer {
        display: flex;
        position: relative;
        top: 0px;
    }
    .main-bottom a img {
        display: none;
    }
    .imgResp a img {
        display: block;
        opacity: 1;
        transition: opacity .5s;
    }
    .menuMobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mBottom {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 131px;
        background: rgb(252 252 252);
        width: 100%;
        left: 0;
        transition: all;
        transition-duration: 0.5s;
        transition-delay: 0.5s;
    }
    .mRight {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 406px;
        background: rgb(252 252 252);
        width: 100%;
        left: 0;
        border-top: 1px solid #ccc;
        transition: all;
        transition-duration: 0.5s;
        transition-delay: 0.5s;
    }
    .mRight ul {
        margin-left: 25px;
        margin-top: 15px;
    }
    /* .mRight ul li a:hover {
        background-color: blue;
    } */
    .menuAtivo {
        width: 100%;
        left: -100%;
        transition: all;
        transition-duration: 0.5s;
        transition-delay: 0.5s;
    }
    .xburguer {
        height: 50px;
        margin-left: 0;
        z-index: 99;
        height: 4px;
        width: 33px;
        cursor: pointer;
        position: absolute;
        top: 7px;
        margin-left: 9px;
        background-color: #000945;
        border-radius: 5px;
    }
    .xburguer:after {
        content: '';
        z-index: 99;
        height: 4px;
        width: 33px;
        cursor: pointer;
        position: absolute;
        top: 16px;
        margin-left: 0px;
        background-color: #000945;
        border-radius: 5px;
        /* display: none; */
        transform: rotate(-131deg);
    }
    .xburguer:before {
        content: '';
        z-index: 99;
        height: 4px;
        width: 33px;
        cursor: pointer;
        position: absolute;
        top: 16px;
        margin-left: 0px;
        background-color: #000945;
        border-radius: 5px;
        /* display: none; */
        transform: rotate(130deg);
    }
}